.hidden {
    display: none;
}

/* --- Styles for small list item --- */

.li {
    position: relative;
    border-radius: 50px;
    /* border: 2px solid aqua; */
}

.small {
    width: 300px;
    background: #333;
    /* position: relative; */
    /* border: 2px solid lime; */
    border-radius: 50px;
}

.pBTN {
    font-size: 1.3rem;
    /* border: 2px solid aqua; */
    background: #333;
    padding: 10px 40px 10px 20px;
    border-radius: 50px;
    box-shadow: rgba(0,0,0,.5) 0 4px 10px;
    height: 92px;
    text-align: center;
    /* border: 2px solid #f8f8f8; */
    /* position: absolute; */
}

.pBTN:hover {
    background: repeating-linear-gradient(to right, red, orange, yellow, lime, aqua, blue, indigo, violet, red);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite;
    cursor: pointer;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }

    100%{
        background-position: 400%;
    }
}

.expandBtn {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -12px;
    font-size: 1.5rem;
}

.expandBtn:hover {
    font-size: 1.9rem;
    cursor: pointer;
    margin-top: -15.2px;
}

/* --- Styles for expanded list item --- */
.liExpand {
    display: block;
    margin: auto;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 10;
}

.expanded {
    display: grid;
    grid-template-columns: 350px 600px 200px;
    /* grid-gap: 1rem; */
    justify-items: center;
    padding: 50px 10px;
    background: linear-gradient(rgb(128, 149, 137), rgb(13, 51, 13));
    height: 380px;
    
    align-items: center;
    justify-content: space-evenly;
    /* justify-items: center; */
}

.gridLeft {
    height: 200px;
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 50px; */
    /* border: 2px solid aqua; */
}

.pBefore {
    background: #333;
    border-radius: 50px;
    box-shadow: rgba(0,0,0,.5) 0 4px 10px;
}
.p {
    font-size: 1.5rem;
    /* border: 2px solid aqua; */
    background-color: #333;
    padding: 10px 20px;
    border-radius: 50px;
    background: repeating-linear-gradient(to right, red, orange, yellow, lime, aqua, blue, indigo, violet, red);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 40s linear infinite;
    cursor: pointer;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }

    100%{
        background-position: 400%;
    }
}

.btn {
    /* height: 20px; */
    display: block;
    padding: 8px 15px;
    width: 200px;
    border-radius: 5px;
}

.btnContainer {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid lime; */
}

.diagram {
    height: 200px;
    width: 600px;
    box-shadow: rgba(0,0,0,.5) 0 4px 10px;
    border-radius: 30px;
}

.video {
    /* border: 2px solid purple; */
    /* position: absolute; */
    /* right: 10px; */
    box-shadow: rgba(0,0,0,.5) 0 4px 10px;
    border-radius: 5px;
}

.expandBtn2 {
    position: absolute;
    right: 10px;
    top: 20px;
    margin-top: -12px;
    font-size: 4rem;
}

.expandBtn2:hover {
    font-size: 5rem;
    cursor: pointer;
    /* margin-top: -15.2px; */
}





@media screen and (max-width: 1282px) {
    .expanded {
        height: 500px;
    }
}

@media screen and (max-width: 1185px) {
    .expanded {
        display: block;
        /* grid-template-columns: repeat(1, 1fr); */
        height: 1133px
    }

    .gridLeft {
        margin-bottom: 0px;
        height: 300px;
        display: block;
    }

    .pBefore {
        margin: -20px auto 30px;
        width: 300px;
        text-align: center;
    }

    .btnContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .btn {
        display: inline;
        margin: 0 10px;

    }

    .diagram {
        display: block;
        margin: -100px auto 0;
        width: 50%;
        height: auto;
    }

    .video {
        display: block;
        margin: 50px auto;
        width: 400px;
        height: 400px;
    }

    
}

@media screen and (max-width: 1000px) {
    .expanded {
        height: 900px;
    }
}

@media screen and (max-width: 700px) {
    .expanded {
        height: 1250px;
    }
    
    .diagram {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    .video {
        width: 200px;
        height: 200px;
    }
}