.hidden {
    display: none;
}

/* --- Styles for small list item --- */

.containerSmall {
    position: relative;
    border-radius: 50px;
    background: #333;
}

.layoutSmall {
    width: 300px;
    height: 92px;
    background: #333;
    border-radius: 50px;
    box-shadow: rgba(0,0,0,.5) 0 4px 10px;
    padding: 10px 20px;
    position: relative;
}

.text:hover {
    background: repeating-linear-gradient(to right, red, orange, yellow, lime, aqua, rgb(64, 177, 247), violet, red);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite;
    cursor: pointer;
}

@keyframes animate{
    0%{
        background-position: 0%;
    }

    100%{
        background-position: 400%;
    }
}

.intervalSmall {
    font-size: 1.3rem;
    text-align: center;
}

.song {
    text-align: center;
}




.expandBtn {
    position: absolute;
    bottom: .4rem;
    left: 50%;
    margin-left: -12px;
    font-size: 1.5rem;
}

.expandBtn:hover {
    font-size: 1.9rem;
    margin-left: -15px;
    cursor: pointer;
}











/* --- Styles for expanded list item --- */
.containerExpanded {
    display: block;
    margin: auto;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 10;
}

.layoutExpanded {
    padding: 20px 10px;
    background: linear-gradient(rgb(234, 1, 1),rgb(138, 1, 1));
    height: 380px;
}

.expandedTitleBackground {
    background-color: #333;
    border-radius: 50px;
    box-shadow: rgba(0,0,0,.5) 0 4px 10px;
    display: block;
    margin: 0 auto 20px;
    width: 400px;
    padding: 10px 20px; 
}

.expandedTitle {
    font-size: 1.5rem;
    background: repeating-linear-gradient(to right, #f8f8f8, #f8f8f8, #f8f8f8, rgb(226, 173, 173), red, orange, yellow, lime, aqua, rgb(64, 177, 247), violet, rgb(244, 191, 244), #f8f8f8);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 40s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }

    100%{
        background-position: 400%;
    }
}

.title {
    text-align: center;
    margin: 0;
}




.grid {
    height: 200px;
    display: grid;
    grid-template-columns: 125px 600px 200px;
    
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.btnContainer {
    height: 200px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid lime; */
}

.btn {
    display: block;
    padding: 8px 15px;
    width: 125px;
    border-radius: 8px;
}

.diagram {
    height: 200px;
    width: 600px;
    box-shadow: rgba(0,0,0,.5) 0 4px 10px;
    border-radius: 8px;
}

.video {
    box-shadow: rgba(0,0,0,.5) 0 4px 10px;
    border-radius: 8px;
}

.expandBtn2 {
    position: absolute;
    right: 10px;
    top: 20px;
    margin-top: -12px;
    font-size: 2rem;
}

.expandBtn2:hover {
    font-size: 3rem;
    cursor: pointer;
    /* margin-top: -15.2px; */
}













/* Grid down to 3 columns */

@media screen and (max-width: 1280px) {
    .layoutExpanded {
        height: 450px;
        display: block;
    }
}

/* Grid down to 2 columns */
@media screen and (max-width: 980px) {

    .layoutExpanded {
        height: 660px;
    }

    .grid {
        display: contents;
    }

    .btnContainer {
        margin: auto;
        flex-direction: row;
        height: auto;
        justify-content: space-between;
        width: 450px;
    }

    .diagram {
        display: block;
        margin: 20px auto;
    }

    .video {
        display: block;
        margin: auto;
    }

}


/* Grid gets thin */
@media screen and (max-width: 700px) {
    .layoutSmall {
        width: 160px;
        height: 130px;
    }

    .intervalSmall {
        font-size: 1rem;
    }

    .layoutExpanded {
        height: 890px;
    }

    .expandedTitleBackground {
        margin: 50px auto;
    }

    .btnContainer {
        margin: 50px auto;
        width: 95%;
    }

    .btn {
        width: 100px;
    }

    .diagram {
        margin: 50px auto;
        width: 95%;
        height: auto;
    }


}