.h1 {
    text-align: center;
    margin: 40px;
}

.input {
    display: block;
    margin: auto;
    margin-bottom: 40px;
    width: 200px;
    height: 40px;
}

.label {
    text-align: center;
    display: block;
    margin: auto;
}

.btn {
    display: block;
    margin: auto;
}

.link {
    text-align: center;
    margin: 40px auto;
    text-decoration: underline;
}

.link:hover {
    cursor: pointer;
    color: lime;
}