.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.key {
    /* border: 2px solid aqua; */
}

.sharps {
    width: 400px;
    display: block;
    margin: 0 auto 30px;
}

.flats {
    width: 400px;
    display: block;
    margin: 0 auto 30px;
}

.note_game {
    max-width: 400px;
}

.title {
    text-align: center;
    margin-top: 30px;
}

.noteBtn {
    display: block;
    margin: 50px auto;
    padding: 10px 20px;
}

.tries {
    display: block;
    text-align: center;
}

.input {
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
    font-size: 2rem;
    font-weight: 500;
    color: #333;
}

.guess {
    display: block;
    margin: 50px auto 0;
    padding: 10px 20px;
    text-align: center;
}